{:deps     {:aliases [:frontend :dev]}
 :dev-http {9876 {:root    "resources/public"
                  :handler user/shadow-handler}}
 :builds   {:app {:target            :browser
                  :output-dir        "resources/public/js"
                  :asset-path        "/js"
                  :module-hash-names true
                  :modules           {:main {:init-fn dk.cst.prayer.web.frontend/init!}}}}}
