section.pages {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: fit-content;
}

article.page {
    border: 1px solid black;
    min-width: fit-content;
    padding: 2ch;
}

article.page + article.page {
    margin-top: 2ch;
}

article.page header {
    text-align: right;
    font-size: 80%;
    color: grey;
}

table {
    border: 1px solid black;
}

/* useful for debugging */
table + table {
    margin-top: 12px;
}

tbody.msItem {
    background: lightblue;
}


tbody.collationItem {
    background: lightgreen;
}

/* TODO: read up on CSS grid... or use flexbox instead? */
main {
    display: grid;
    column-gap: 24px;
    grid-template-columns: auto minmax(auto, 1fr);
}

pre {
    min-width: 50vw;
    max-width: 67vw;
    overflow: scroll;
}
