:root {
    /* https://github.com/system-fonts/modern-font-stacks#old-style */
    --font-family: SortsMillGoudy, 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;

    font-family: var(--font-family);
    font-weight: normal;
}

@font-face {
    font-family: SortsMillGoudy;
    src: url(/fonts/SortsMillGoudy-Regular.ttf);
}

table [title]:not(a), ul.descriptive strong {
    cursor: help;
}

button, select {
    cursor: pointer;
}

button:disabled, select:disabled {
    cursor: not-allowed;
}

main a {
    text-decoration: none;
    color: #DD2211;
}

main a:visited {
    color: #FF9922;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    min-height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    min-height: 100vh;
}

main {
    align-self: center;
    width: 800px;
    padding: 64px 32px 32px 32px;
    border-left: 2px solid black;
    flex-grow: 1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 2px solid black;
    align-self: center;
    width: 800px;
    padding: 32px;
}

address {
    text-align: left;
    font-size: 12px;
    font-style: normal;
    letter-spacing: 0.5px;
    word-spacing: 2px;
    color: black;
    line-height: 2;
    flex-grow: 2;

    margin-right: 24px;
}

fieldset {
    border: 2px solid black;
    border-right-width: 6px;
    padding: 12px;

}

fieldset legend {
    padding: 0 6px;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 24px;
}

label {
    display: flex;
    align-items: center;
    font-size: 18px;
}

input[type="checkbox"] {
    appearance: none;
    border: 2px solid black;
    width: 20px;
    height: 20px;
    background: white;
    margin-right: 8px;
    content: "d";
    cursor: pointer;
}

input[type="checkbox"]:checked::after {
    content: "✓";
    font-size: 14px;
    margin-left: 2px;
}

aside.preferences {
    display: flex;
    justify-content: center;
}

section.pages {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0 auto;
}

section.page-controls {
    display: flex;
    padding: 0;
    margin: 0;
    line-height: 1;
    align-self: stretch;
}

section.page-controls > * {
    appearance: none;
}

section.page-controls > * {
    border: none;
    border-left: 0.5px solid white;

    font-variant: small-caps;
    padding: 12px;
    background: black;
    color: white;
    font-size: 16px;
    min-width: max(80px, 25%);
}
section.page-controls > *:disabled {
    /* https://toolcool.org/svg-stripes-maker-react/ */
    background-image: url(/images/stripes.svg);
}

section.page-controls > *:first-child {
    padding-left: 24px;
    border-left: none;
}

section.page-controls > select {
    flex-grow: 1;
    text-align: center;
    border-radius: 0;
}

section.page-controls > *:last-child {
    padding-right: 24px;
}

article.page {
    display: flex;
    flex-direction: column;

    border: 2px solid black;
    border-right-width: 6px;
    min-width: fit-content;
    padding: 24px;
    font-size: 18px;
}

article.page + article.page {
    margin-top: 24px;
}

article.page header.page-header {
    text-align: right;
    font-size: 18px;
    color: grey;
}

article.page section.page-content {
    align-self: center;
}

/* Allows for styling tr. */
table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    color: black;

    font-weight: normal;
    font-variant: normal;
}

tr:not(:last-child) {
  border-bottom: 0.5px solid black;
}

table {
    border-left: none;
    border: 2px solid black;
    border: 2px solid black;
    border-right-width: 6px;
    font-size: 18px;
}

table table {
    margin: 12px 0;
}

.continuation {
    margin: 24px 0;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
}

/* useful for debugging */
table + table {
    margin-top: 32px;
}

tr > td:first-child {
    text-align: right;
    font-weight: bold;
    font-variant: small-caps;
    border-right: 0.5px solid black;
    width: 80px;
}

tr td:last-child {
    text-align: left;
    font-weight: normal;
    font-variant: normal;
}

td, th {
    padding: 8px 12px;
}

th {
    background: black;
    color: white;
    word-spacing: 6px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: normal;
    height: 26.5px; /* for empty headers */
}

details > table {
    margin: 12px 0 0 0;
}

details > summary {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/* TODO: read up on CSS grid... or use flexbox instead? */
article.content {
    display: grid;
    column-gap: 32px;
    grid-template-columns: minmax(220px, auto) minmax(180px, 40%);
    width: 100%;
}

pre {
    min-width: 50vw;
    max-width: 67vw;
    overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-variant: small-caps;
    text-align: center;
}

main header h1 {
    margin: 0;
    font-size: 48px;
}

main h2 {
    margin: 24px 0;
    font-size: 32px;
}

main section + section {
    margin-top: 48px;
}

hgroup {
    margin: 0 auto;
}

hgroup p {
    margin-top: 0;
    text-align: center;
    font-variant: small-caps;
}

/* TODO: experimental, figure out best method for achieving this across display sizes */
h1.brutalist {
    font-size: 72px;
    letter-spacing: 8px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    width: fit-content;
}

.big {
    font-size: 150%;
}

.red {
    color: #DD2211;
}

.yellow {
    color: #FF9922;
}

.grey {
    color: #888;
}

.black {
     color: black;
 }

table.dimensions, table.dimensions tr,  table.dimensions td {
    border: none;
    width: fit-content;
    text-align: center;
    padding: 0;
    margin: 0 0 12px 0;
    line-height: 1;
    font-weight: normal;
}

table.dimensions td.dimensions-height {
    padding-right: 8px;
}

table.dimensions td.dimensions-width {
    padding-bottom: 8px;
}

.dimensions-model {
    border: 2px solid black;
    background: black;
    background-image: url(/images/stripes.svg);
}

ul.descriptive {
    list-style-type: none;
    margin: 16px 0;
    padding-left: 24px;
}

ul.descriptive li {
    padding-left: 4px;
}

ul.descriptive li + li {
    margin-top: 4px;
}

p, ul.descriptive li {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 1px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0;
}

* + p {
    margin-top: 16px;
}

header.top {
    border-bottom: 6px solid black;
    /*position: sticky;
    top: 0; /* required for sticky */
}

nav {
    display: flex;
    align-items: stretch;
    max-width: 1100px;
    margin: 0 auto;
    background: white;
}

nav a {
    color: black;
    text-decoration: none;
    font-variant: small-caps;
}

nav a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

nav a:not([href]) {
    color: #DD2211;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
}

nav a:not([href]):hover {
}

nav ul {
    display: flex;
    border-right: 2px solid black;
    margin: 0 auto 0 0;
    padding: 32px 8px 8px 16px;
}

nav ul li {
    display: inline-block;
    margin-right: 16px;
    font-size: 24px;
}

nav form {
    flex-grow: 1;
    display: flex;
}

nav input[type=search] {
   flex-grow: 1;
   width: 0;
   font-size: 24px;
   padding: 32px 8px 8px 16px;
   border: none;
   align-self: stretch;
   font-family: var(--font-family);
   line-height: 1;
}

nav input[type=search]:not(:focus),
nav input[type=search]::placeholder
{
    color: #00000033;
}

ul.links {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    justify-content: center;

    text-align: right;
    list-style-type: none;
    font-size: 24px;
    margin: 0;
    padding: 0;
    line-height: 1.4;
    border: 2px solid black;
    border-right-width: 6px;
}

ul.links li {
    padding-left: 4px;
    padding: 8px 16px 8px 32px;
}

ul.links li + li {
    border-top: 0.5px solid black;
}

ul.links a {
    color: black;
    text-decoration: none;
    font-variant: small-caps;
}

ul.links a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

@media (width <= 900px) {
    main {
        width: auto;
        align-self: stretch;
        border-left: none;
    }
    footer {
        border-left: none;
        width: auto;
        align-self: stretch;
    }
}


@media (width <= 852px) {
    article.content {
        display: flex;
        flex-direction: column;
    }
    section.pages {
        max-width: 450px;
    }
}

@media (width <= 600px) {
    main, footer {
        padding: 24px;
    }
    nav ul {
        padding: 16px 8px 8px 8px;
    }
    nav ul li {
        display: inline-block;
        margin-right: 12px;
        font-size: 18px;
    }
    nav input[type=search] {
       flex-grow: 1;
       font-size: 18px;
       padding: 16px 8px 8px 8px;
    }
    h1.brutalist {
        font-size: 52px;
        margin-top: 24px;
    }
    footer {
        flex-direction: column-reverse;
        align-items: stretch;
    }
    ul.links, address {
        text-align: center;
    }
    address {
        margin-top: 12px;
    }
    ul.descriptive {
        padding-left: 12px;
    }
}

@media (width <= 480px) {
    main, footer {
        padding: 12px;
    }
    nav ul {
        padding: 12px 6px 6px 6px
    }
    nav ul li {
        font-size: 16px;
    }
    nav ul li {
        margin-right: 8px;
    }
    nav input[type=search] {
       font-size: 16px;
       padding: 12px 6px 6px 6px
    }
}
