tei-div {
    display: block;
}

tei-p, tei-rubric, tei-incipit, tei-explicit {
    display: block;
    margin: 12px 0;
    word-spacing: 4px;
}

/* Headings */
[data-type=rubric] {
    display: block;
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
}

[data-type=rubric] * {
    font-size: 32px;
}

/* Remove this pagination artifact. */
tei-p > br:first-child {
    display: none;
}

[data-rend~=blue] { color: blue; }
[data-rend~=red] { color: red; } /* red takes precedence over blue */
