tei-div {
    display: block;
}

tei-p, tei-rubric, tei-incipit, tei-explicit {
    display: block;
    margin: 12px 0;
    word-spacing: 4px;
}

/* Content added by editor is marked with [...]. */
tei-supplied::before,
tei-ex::before {
    content: "[";
    opacity: 0.33;
    font-weight: 100;
}

tei-supplied::after,
tei-ex::after {
    content: "]";
    opacity: 0.33;
    font-weight: 100;
}

tei-lb::after {
    content: " ↵";
    font-size: 12px;
    opacity: 0.5;
}

tei-w[data-split=before]::after {
    content: "-";
    opacity: 0.33;
}

/* Pilcrow symbol. */
tei-p > *:last-child::after {
    content: " ¶";
    font-size: 12px;
    opacity: 0.5;
}

/* Headings */
[data-type=rubric] {
    display: block;
    margin: 0;
    font-weight: bold;
    font-variant: small-caps;
}

[data-type=rubric] * {
    font-size: 32px;
}

/* Remove this pagination artifact. */
tei-p > br:first-child {
    display: none;
}

[data-rend~=blue] { color: blue; }
[data-rend~=red] { color: red; } /* red takes precedence over blue */

tei-title, tei-persname {
    font-weight: bold;
    font-variant: small-caps;
}
